@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import 'colors.scss';
@import 'sizes.scss';

*{ font-family: "Noto Sans";
    margin: 0px;

} 

body {

     background-color: $color_body;
  }

header{ 
    
    @include sizes-header;
    text-align: center;
    background-color: $color_header;
}

.titulos-principales{

    @include sizes-titulos-principales;
    text-align: center;
    color: $color_h1;

}

.animation-h1{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);

}

.botones-header{

    display: inline-block;
    color: $color_buttons_header;
    
}

.banner-pages{
 
    @include banner-pages-style;

}

.texto-nosotros{ 

    text-align:center ;

}

.contacto-nosotros{

    @include sizes-contacto-nosotros;
    border: $color_borders solid;
    background-color: $color_forms;
}

.consultas-inicio{

    @include sizes-consultas-inicio;
    border: $color_borders solid;
    background-color: $color_forms;
}

.mapa-sucursal{

    @include sizes-mapa-sucursal;
    text-align: center;

}

.container{
 
    text-align: center;

}

.caja-productos{

    @include sizes-caja-productos;
    background-color:$color_forms;
    display: inline-block;
    text-align: center;
    border: $color_borders solid;


}

.caja-productos-inicio{

    @include sizes-caja-productos-inicio;
    background-color:$color_forms;
    display: inline-block;
    text-align: center;
    border: $color_borders solid;
}

footer{
    
    @include sizes-footer;
    background-color: $color_header;
    
}

@media (min-width:600){

    .col{ 

        padding: 10px;

    }

}

