@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import 'colors.scss';
@import 'sizes.scss';

*{ font-family: "Noto Sans";
    margin: 0px;

} 

body {

    background-color: $color_body;
  }

header{ 
     margin-right: 0;
    background-color: $color_header;
    text-align: center;
}

.titulos-principales{

    padding: 30px;
    color: $color_h1;
    text-align: center;

}
.botones-header{

    display: inline-block;
    color: $color_buttons_header;
    
}

.banner-pages{
 
    width: 100%;
    margin: 0;
    padding: 0;
    height: 450px;
}

.texto-nosotros{ 

    text-align:center ;
    padding: 50px;
}

.contacto-nosotros{

    padding: 30px;
    border: $color_borders solid;
    background-color: $color_forms;
}

.consultas-inicio{

    padding: 5px;
    border: $color_borders solid;
    background-color: $color_forms;
}

.mapa-sucursal{

    text-align: center;
    padding: 15px;


}
.container{



}



.caja-productos{

    width: 250px;
    background-color:$color_forms;
    display: inline-block;
    padding: 20px 10px ;
    margin: 10px;
    text-align: center;
    border: $color_borders solid;


}
.caja-productos-inicio{

    width: 370px;
    background-color:$color_forms;
    display: inline-block;
    padding: 20px 10px ;
    margin: 10px;
    text-align: center;
    border: $color_borders solid;
}

footer{

    background-color: $color_header;
    padding: 15px;
    margin: 0px;
}

@media (min-width:600){

    .col{ 



    }

}

